<div class="game_container">
  <%= render partial: 'game_grid', locals: { who: 'player' } %>
  <%= render partial: 'game_grid', locals: { who: 'opponent' } %>
  <%= render partial: 'message_box' %>
</div>
