// Place all the styles related to the BattleshipApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$cell_size: 48px;

.game_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;

  .game_grid {
    display: flex;
    flex-direction: column;
    margin: 64px;
    padding: 0;

    .grid_title {
      font: 32pt bold;
      margin: 8px;
      text-align: center;
    }
  
    .grid_row {
      display:flex;
      flex: 1;
      flex-direction: row;
      padding: 0;
      justify-content: center;
  
      .grid_cell {
        flex: 1;
        width: $cell_size;
        max-width: $cell_size;
        height: $cell_size;
        max-height: $cell_size;
        border: 1px solid black;
      }

      .empty {
        background: white;
      }

      .ship {
        background: grey;
      }

      .hit {
        background: red;
      }

      .miss {
        background: yellow;
      }

    }
  }

  .message_box {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
